:root {
  --primary-color: #3f7d58;
  --sedondary-color: #ec5228;
  --tertiary-color: #ef9651;
  --black: #2b2b2b;
  --white: #fefafa;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 1.6rem;
}

/* Navbar */
.navbar {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.8rem;
}

.img-logo {
  width: 30%;
}

.bg-change {
  background: var(--white);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
  color: var(--sedondary-color);
}
/* Header */
.home-header {
  background-image: linear-gradient(
      to right,
      rgba(255, 231, 231, 0.151),
      rgba(252, 199, 164, 0.352),
      rgba(244, 87, 44, 0.638)
    ),
    url(images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  margin-top: 12rem;
}

.header-text-container {
  padding-right: 3rem;
  text-align: end;
}

h1 {
  font-weight: 700;
  font-size: 4.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 3.8rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-weight: 600;
  font-size: 3.2rem;
}

img {
  width: 100%;
  height: auto;
}

.home-header h1 {
  color: var(--white);
  margin-bottom: 1rem;
}

header p {
  font-size: 1.8rem;
  font-weight: 600;
}

/* Main */
main {
  margin: 15rem 0;
}

.img-text {
  display: block;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-decoration: none;
  color: var(--black);
}

.img-text:hover {
  color: var(--sedondary-color);
}

/* Footer */
footer {
  background-color: var(--tertiary-color);
  color: var(--white);
  padding: 16rem 5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.img-logo-footer {
  width: 8rem;
  width: 8rem;
}

ion-icon {
  margin-right: 1rem;
  font-size: 3.6rem;
  cursor: pointer;
}

.footer-copyright {
  font-size: 1.2rem;
}

.footer-text {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 1.4rem;
}

/* About page */
/* Header  */
.page-header h1 {
  text-align: center;
  margin-top: 10rem;
}

/* Main */
.about-text-col {
  margin-left: 3rem;
}

.about-icons ion-icon {
  font-size: 2.4rem;
  margin-right: 0;
  vertical-align: text-top;
}

.about-icons ion-icon:first-child {
  margin-left: 1rem;
}

.about-heading-2 {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}

/* Contact Page */
.contact-text-col {
  margin-right: 3em;
}
.contact-text-wrapper {
  margin-top: 5rem;
}

.text-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 0;
}

.text-content ion-icon {
  font-size: 1.8rem;
}

/* Recipe Collection */
.collection-img-wrapper {
  max-width: 50rem;
  margin: 0 auto;
}

.collection-title {
  text-align: center;
  margin-bottom: 3rem;
}

.ingredients-text {
  border-bottom: 1px dotted var(--primary-color);
  padding-bottom: 1rem;
}

.collection-heading-3 {
  padding-bottom: 2rem;
  color: var(--sedondary-color);
}

.recipe-details {
  margin-top: 5rem;
  margin-bottom: 20rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3.6em;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }
  .collection-heading-3:nth-child(1) {
    margin-top: 2rem;
  }
  .recipe-details {
    margin-bottom: 10rem;
  }
}

@media (max-width: 575px) {
  .header-text-container p {
    color: var(--white);
  }
  .about-text-col {
    margin-left: 0;
    margin-top: 2rem;
  }

  .contact-text-col {
    text-align: center;
    margin: 0 1rem;
  }

  .img-logo-footer {
    width: 6rem;
    width: 6rem;
  }
}
