:root {
  --primary-color: #3f7d58;
  --sedondary-color: #ec5228;
  --tertiary-color: #ef9651;
  --black: #2b2b2b;
  --white: #fefafa;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 1.6rem;
}

/* Navbar */
.navbar {
  margin: 2rem 1rem;
  font-size: 1.8rem;
}

/* Header */
.home-header {
  background-image: linear-gradient(
      to right,
      rgba(255, 231, 231, 0.151),
      rgba(252, 199, 164, 0.352),
      rgba(244, 87, 44, 0.638)
    ),
    url(images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.header-text-container {
  padding-right: 3rem;
  text-align: end;
}

h1 {
  font-weight: 700;
  font-size: 4.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 3.8rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-weight: 600;
  font-size: 3.2rem;
}

img {
  width: 100%;
  height: auto;
}

.home-header h1 {
  color: var(--white);
  margin-bottom: 1rem;
}

header p {
  font-size: 1.8rem;
  font-weight: 600;
}

/* Main */
main {
  margin: 15rem 0;
}

.img-text {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* Footer */
footer {
  background-color: var(--tertiary-color);
  color: var(--white);
  padding: 16rem 5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

ion-icon {
  margin-right: 1rem;
  font-size: 3.6rem;
}

.footer-copyright {
  font-size: 1.2rem;
}

.footer-text {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 1.4rem;
}

/* About page */
/* Header  */
.about-header h1 {
  text-align: center;
  margin-top: 8rem;
}

/* Main */
.about-text-col {
  margin-left: 3rem;
}

.about-icons ion-icon {
  font-size: 2.4rem;
  margin-right: 0;
  vertical-align: text-top;
}

.about-icons ion-icon:first-child {
  margin-left: 1rem;
}

.about-heading-2 {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}
